<section aria-labelledby="heading-accommodations" class="partners-alt partners" id="accommodations" tabindex="-1">
  <div class="prose-alt prose">
    <div class="prose-content">
      <h2 class="prose-title" id="heading-accommodations">Accommodations</h2>

      <p>We’ve set aside a block of rooms at the Staybridge Suites in North Wales, <abbr title="Pennsylvania">PA</abbr>.</p>
      <p>Rooms run between $129–$139 a night using code <kbd>SGW</kbd>. Book online or over the phone at <a href="tel:+12153938899">(215) 393-8899</a> before <time datetime="2018-03-20">March 20, 2018</time> to take advantage of this special group rate.</p>
      <p>There is also Hampton Inn next door to the Staybridge Suites, though we don’t have a reserved room block there.</p>

      <a href="https://www.ihg.com/staybridge/hotels/us/en/north-wales/phlmg/hoteldetail" class="button-alt button">Staybridge Suites website</a>
    </div>
  </div>

  <aside aria-labelledby="aside-hotel" class="billboard-hotel billboard" role="complementary">
    <div class="billboard-content">
      <h3 class="visually-hidden" id="aside-hotel">Wedding Hotel Contact Information</h3>

      <div class="place-card h-card">
        <h4 class="place-card-title p-name">Staybridge Suites</h4>

        <p class="place-card-content p-adr h-adr">
          <span class="p-street-address">119 Garden Golf Boulevard</span><br>
          <span class="p-locality">North Wales</span>, <abbr class="p-region" title="Pennsylvania">PA</abbr> <span class="p-postal-code">19454</span>
        </p>
      </div>
    </div>
  </aside>
</section>
