<section aria-labelledby="heading-ceremony" class="partners" id="ceremony" tabindex="-1">
  <div class="prose stationery">
    <div class="prose-content">
      <h2 class="prose-title" id="heading-ceremony">Ceremony &amp; Reception</h2>

      <h3 class="stationery-title">The William Penn Inn</h3>

      <p><time datetime="2018-04-20T17:00">Friday, April 20, 2018 commencing promptly at 5 o’clock in the evening</time>.</p>
      <p>Our ceremony will take place at the Inn followed immediately by a formal reception.</p>

      <a href="https://strauss-garber-wedding.rsvpify.com" class="button-inverse button">
        <abbr lang="fr" title="Répondez s'il vous plaît">RSVP</abbr>
      </a>

      <a href="http://www.williampenninn.com" class="button"><abbr title="William">Wm.</abbr> Penn Inn website</a>
    </div>
  </div>

  <aside aria-labelledby="aside-venue" class="billboard-venue billboard" role="complementary">
    <div class="billboard-content">
      <h3 class="visually-hidden" id="aside-venue">Wedding Venue Contact Information</h3>

      <div class="place-card h-card">
        <h4 class="place-card-title p-name">The William Penn Inn</h4>

        <p class="place-card-content p-adr h-adr">
          <span class="p-street-address">1017 Dekalb Pike</span><br>
          <span class="p-locality">Gwynedd</span>, <abbr class="p-region" title="Pennsylvania">PA</abbr> <span class="p-postal-code">19436</span>
        </p>
      </div>
    </div>
  </aside>
</section>
