<section aria-labelledby="heading-hero" class="hero h-event">
  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="{% asset hero-narrow.jpg @path %}" media="(min-width: 32rem)">
    <!--[if IE 9]></video><![endif]-->
    {% asset hero.jpg alt="" %}
  </picture>

  <div class="hero-wrapper">
    <div class="hero-content">
      <h2 class="hero-title" id="heading-hero">Save the Date</h2>

      <p>
        <span class="visually-hidden">
          <span class="p-name">Jason and Samara get married</span> on
        </span>
        <time class="dt-start" datetime="2018-04-20T17:00">April 20, 2018</time>
        <span class="visually-hidden">in</span>
        <span class="location p-location h-adr">
          <span class="p-locality">Gwynedd</span>, <abbr class="p-region" title="Pennsylvania">PA</abbr><span class="visually-hidden">.</span>
        </span>
      </p>
    </div>

    <div class="hero-cta">
      <a href="https://strauss-garber-wedding.rsvpify.com" class="button-knockout button">
        <abbr lang="fr" title="Répondez s'il vous plaît">RSVP</abbr>
      </a>
    </div>
  </div>
</section>
