<section aria-labelledby="heading-registries" class="partners-alt partners-equal partners registries" id="registries">
  <div class="registries-content">
    <div class="prose-alt prose">
      <div class="prose-content">
        <h2 class="prose-title" id="heading-registries">Registries</h2>

        <p>In addition to our honeymoon fund, we’re also registered at the following stores:</p>
      </div>
    </div>

    <div class="retailers">
      <a href="https://www.crateandbarrel.com/gift-registry/samara-strauss-and-jason-garber/r5767152">
        <img src="{% asset_path registry-crate-and-barrel.png %}" alt="Crate and Barrel">
      </a>
      <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?eventType=Wedding&amp;registryId=545191901">
        <img src="{% asset_path registry-bed-bath-and-beyond.png %}" alt="Bed Bath &amp; Beyond">
      </a>
    </div>
  </div>

  <aside aria-labelledby="aside-registries" class="registries-aside" role="complementary">
    <a href="https://www.zola.com/registry/samaraandjason">
      <img src="{% asset_path registry-zola.png %}" alt="Zola">
    </a>

    <div class="place-card">
      <h3 class="place-card-title" id="aside-registries">Honeymoon Fund</h3>

      <p class="place-card-content">You can contribute to our honeymoon fund at <a href="https://www.zola.com/registry/samaraandjason">Zola.com</a>.</p>
    </div>
  </aside>
</section>
