<section aria-labelledby="heading-travel" class="partners-equal partners" id="travel" tabindex="-1">
  <div class="prose">
    <div class="prose-content">
      <h2 class="prose-title" id="heading-travel">Traveling to Philadelphia</h2>

      <p>Getting to the city is easy: you can fly into <a href="http://www.phl.org">Philadelphia International Airport</a> (PHL), take a train to 30th Street Station, or drive via I-95 North or I-95 South.</p>
      <p>If you plan to stay through the weekend, there’s plenty to do! The wedding hotel is located about 40 minutes from <a href="http://www.centercityphila.org">Center City Philadelphia</a>, where you can find the <a href="https://www.nps.gov/inde/learn/historyculture/stories-libertybell.htm">Liberty Bell</a>, <a href="https://www.nps.gov/inde/index.htm">Independence Hall</a>, the <a href="https://www.fi.edu">Franklin Institute</a>, <a href="http://southstreet.com">South Street</a>, and much more.</p>

      <a href="http://www.visitphilly.com" class="button">visitphilly.com</a>
    </div>
  </div>

  <aside aria-labelledby="aside-transportation" class="polaroid" role="complementary">
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="{% asset polaroid-narrow.jpg @path %}" media="(min-width: 32rem)">
      <!--[if IE 9]></video><![endif]-->
      {% asset polaroid.jpg alt="" %}
    </picture>

    <div class="polaroid-content">
      <h3 class="polaroid-title" id="aside-transportation">Wedding Transportation</h3>

      <p>There will be a shuttle transporting guests between Staybridge Suites and the William Penn Inn prior to and after the wedding.</p>
      <p>For those who prefer to drive, there is ample free parking at both the William Penn Inn and the hotel. Additionally, both <a href="https://www.uber.com">Uber</a> and <a href="https://www.lyft.com">Lyft</a> operate in the greater Philadelphia area.</p>
    </div>
  </aside>
</section>
