<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  <title>Jason &amp; Samara are getting married!</title>

  <meta name="description" content="Everything you’ll need to know about Jason’s and Samara’s wedding ceremony.">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:card" content="summary">
	<meta property="og:description" content="Everything you’ll need to know about Jason’s and Samara’s wedding ceremony.">
	<meta property="og:image" content="https://jasonandsamara.com{% asset jasonandsamara-256x256.jpg @path %}">
	<meta property="og:title" content="Jason &amp; Samara are getting married!">

  <link rel="apple-touch-icon" href="{% asset jasonandsamara-256x256.png @path %}">
  <link rel="license" href="https://github.com/jgarber623/jasonandsamara.com/blob/master/LICENSE">
  <link rel="manifest" href="/manifest.webmanifest">
	<link rel="shortcut icon" href="{% asset jasonandsamara-256x256.png @path %}">
  <link rel="source" href="https://github.com/jgarber623/jasonandsamara.com">
  {% asset application.css !type %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600|Great+Vibes" crossorigin="anonymous">

  <!--[if lt IE 9]>
    {% asset vendor/html5shiv.js !type %}
  <![endif]-->
</head>
<body>

  <header class="page-header" role="banner">
    <h1>Jason &amp; Samara</h1>

    <nav class="page-navigation" id="navigation" role="navigation">
      <button aria-expanded="false" aria-controls="navigation-list" class="page-navigation-control" id="navigation-control" hidden>
        <span>
          <span class="visually-hidden">Page Navigation</span>
        </span>
      </button>

      <ul class="page-navigation-list" id="navigation-list">
        <li>
          <a href="https://strauss-garber-wedding.rsvpify.com">
            <abbr lang="fr" title="Répondez s'il vous plaît">RSVP</abbr>
          </a>
        </li>
        <li><a href="#ceremony">Ceremony &amp; Reception</a></li>
        <li><a href="#accommodations">Accommodations</a></li>
        <li><a href="#travel">Travel Information</a></li>
        <li><a href="#registries">Registries</a></li>
        <li><a href="#countdown">Countdown</a></li>
      </ul>
    </nav>
  </header>

  <main class="page-content" role="main">
    {{ content }}
  </main>

  <footer class="page-footer" role="contentinfo">
    <small><abbr title="Copyright">©</abbr> 2015–<abbr title="Forever">∞</abbr> <span title="Handsome">Jason Garber and <span title="Pretty Lady">Samara Strauss</span></small>
  </footer>

  <script>
    function loadJS(e,c) {
      var d=document,r=d.createElement('script'),o=d.getElementsByTagName('script')[0];
      r.src=e;r.async=true;o.parentNode.insertBefore(r,o);if(typeof c==='function')r.onload=c;return r;
    }

    if (typeof document.createElement('source').srcset === 'undefined') {
      loadJS('{% asset vendor/picturefill.js @path %}');
    }

    if (window.matchMedia && document.querySelector) {
			loadJS('{% asset application.js @path %}');
		}

    if (navigator.serviceWorker && !navigator.serviceWorker.controller) {
      navigator.serviceWorker.register('/service-worker.js');
    }
  </script>

</body>
</html>
