<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">

  <title>Jason &amp; Samara are getting married!</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% asset_path application.css %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600|Great+Vibes">
</head>
<body>

  <header class="page-header" role="banner">
    <h1>Jason &amp; Samara</h1>

    <nav role="navigation">
      Jump to:

      <a href="#ceremony">Ceremony &amp; Reception</a>
      <a href="#accommodations">Accommodations</a>
      <a href="#travel">Travel Details</a>
      <a href="#countdown">Countdown</a>
    </nav>
  </header>

  <main class="page-content" role="main">
    {{ content }}
  </main>

  <footer class="page-footer" role="contentinfo">
    <small><abbr title="Copyright">©</abbr> 2015–∞ Jason Garber and Samara Strauss</small>
  </footer>

</body>
</html>
