// Breakpoints
$narrow: 32rem;
$medium: 48rem;
$wide: 64rem;
$ultra: 80rem;

// Colors
$color-black: #000;
$color-gold: #a08a58;
$color-grey: #3f3c44;
$color-light-grey: #e5e5e5;
$color-mongoose: #b8a782;
$color-navy: #203751;
$color-slate: #58697c;
$color-white: #fff;

// Spacing
$spacing: 1.5rem;
$spacing-2x: 3rem;
$spacing-3x: 4.5rem;

// Typography
$font-normal: 400;
$font-bold: 600;

$font-serif: "Crimson Text", serif;
$font-cursive: "Great Vibes", cursive;
