.billboard {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: $spacing;
  position: relative;

  @include breakpoint($narrow) {
    padding: $spacing-2x;
  }

  @include breakpoint($medium) {
    &::before {
      content: "";
      display: block;
      padding: 0;
      padding-top: (400 / 350) * 100%;
      width: 100%;
    }
  }
}

.billboard-hotel {
  background-image: url(asset_path("billboard-hotel.jpg"));

  @include breakpoint($medium) {
    background-image: url(asset_path("billboard-hotel-medium.jpg"));
  }
}

.billboard-venue {
  background-image: url(asset_path("billboard-venue.jpg"));

  @include breakpoint($medium) {
    background-image: url(asset_path("billboard-venue-medium.jpg"));
  }
}

.billboard-content {
  background-color: $color-white;
  background-color: rgba($color-white, 0.8);
  padding: $spacing;
  text-align: center;

  @include breakpoint($medium) {
    bottom: $spacing-2x;
    left: $spacing-2x;
    position: absolute;
    right: $spacing-2x;
  }

  @include breakpoint($ultra) {
    bottom: $spacing-3x;
    left: $spacing-3x;
    right: $spacing-3x;
  }

  h4 {
    font-family: $font-cursive;
    font-size: 1.5rem;
    font-weight: $font-normal;
    margin: 0;

    @include breakpoint($ultra) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.125rem;
    margin: 0;

    @include breakpoint($ultra) {
      font-size: 1.25rem;
    }
  }
}
