.hero {
  position: relative;
}

.hero-content {
  color: $color-white;
  left: 0;
  padding: $spacing;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 0 0 1rem $color-black;
  text-transform: uppercase;
  top: 0;

  @include breakpoint($narrow) {
    bottom: 0;
    padding: $spacing-2x;
    text-align: left;
    top: auto;

    @supports(display: flex) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 0;
    }
  }

  @include breakpoint($ultra) {
    padding: $spacing-3x;
  }

  p {
    margin: 0;

    @include breakpoint((24rem ($narrow - 0.001rem), 40rem ($medium - 0.001rem))) {
      font-size: 1.25rem;
    }

    @include breakpoint($medium) {
      font-size: 1.5rem;
    }

    @include breakpoint($wide) {
      font-size: 1.75rem;
    }
  }

  .location::before {
    content: "|";
    display: inline-block;
    margin: 0 0.5rem;
  }
}

.hero-title {
  font-weight: $font-normal;
  margin: 0;

  @include breakpoint((24rem ($narrow - 0.001rem), 40rem ($medium - 0.001rem))) {
    font-size: 2rem;
  }

  @include breakpoint($medium) {
    font-size: 3rem;
  }

  @include breakpoint($wide) {
    font-size: 4rem;
  }
}
