.page-navigation {
  button {
    background-color: transparent;
    border: 0;
    left: 1rem;
    line-height: 0;
    padding: 0.5rem;
    position: absolute;
    top: 1.25rem;

    > span {
      border-color: $color-slate;
      border-style: solid;
      border-width: 0.25rem 0;
      display: inline-block;
      padding: 0.25rem 0;
      width: 1.5rem;

      &::after {
        border-top: 0.25rem solid $color-slate;
        content: "";
        display: block;
      }
    }
  }

  ul {
    border-top: 1px solid $color-light-grey;
    list-style: none;
    margin: 0;
    padding: 1rem 0;

    @include breakpoint($narrow) {
      column-count: 2;
    }

    @include breakpoint($wide) {
      column-count: 1;
      padding: 1rem $spacing;

      @supports(display: flex) {
        border: 0;
        display: flex;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        text-align: left;
        top: 0.65rem;
      }
    }
  }

  @include breakpoint($wide) {
    li {
      display: inline-block;

      @supports(display: flex) {
        &:nth-child(2) {
          flex-grow: 1;
        }

        &:nth-child(3) {
          flex-grow: 1;
          text-align: right;
        }
      }
    }
  }

  a {
    color: $color-navy;
    display: inline-block;
    font-size: 0.875rem;
    padding: 0.25rem $spacing;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
