.page-header {
  position: relative;
  text-align: center;

  h1 {
    color: $color-gold;
    display: inline-block;
    font-family: $font-cursive;
    font-size: 1.75rem;
    font-weight: $font-normal;
    margin: 0;
    padding: 1rem 0;
    position: relative;
    z-index: 1;

    @include breakpoint($narrow) {
      font-size: 2rem;
    }
  }
}
