@include breakpoint($medium) {
  .partners {
    > * {
      display: table-cell;
      vertical-align: top;
    }

    > * {
      width: 55%;

      + * {
        width: 45%;
      }
    }
  }

  @supports(display: flex) {
    .partners {
      display: flex;

      > * {
        display: flex;
      }
    }

    .partners-alt {
      > * {
        order: 2;
        width: 55%;

        + * {
          order: 1;
          width: 45%;
        }
      }
    }
  }

  .partners-equal > * {
    width: 50%;
  }
}
