@include breakpoint($medium) {
  .partners {
    display: flex;

    > * {
      display: table-cell;
      display: flex;
      vertical-align: top;
      width: 55%;

      + * {
        width: 45%;
      }
    }
  }

  .partners-alt > *{
    order: 2;
    width: 55%;

    + * {
      order: 1;
      width: 45%;
    }
  }

  .partners-equal > * {
    width: 50%;
  }
}
