.polaroid {
  @include breakpoint($medium) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    img {
      flex-grow: 1;
      object-fit: cover;
    }
  }

  @include breakpoint(66rem) {
    margin: -0.75rem;
    width: calc(50% + 1.5rem);
  }
}

.polaroid-content {
  background-color: $color-white;
  border: $spacing solid $color-slate;
  padding: $spacing;
  text-align: center;

  h3 {
    color: $color-navy;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
