.polaroid {
  background-color: $color-slate;
  padding: $spacing;
  position: relative;

  @include breakpoint($medium) {
    flex-direction: column;
    margin: -0.75rem 0;
    z-index: 1;
  }

  picture {
    margin: (-$spacing) (-$spacing) $spacing (-$spacing);
  }
}

.polaroid-content {
  background-color: $color-white;
  padding: $spacing;
  text-align: center;

  @include breakpoint($medium) {
    flex-grow: 1;
  }

  h3 {
    color: $color-navy;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;

    @include breakpoint($ultra) {
      font-size: 1.25rem;
    }
  }

  p {
    @include breakpoint($wide) {
      font-size: 1.125rem;
    }

    @include breakpoint($ultra) {
      font-size: 1.25rem;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}
