.prose {
  background-color: $color-white;
  margin: 0 auto;
  padding: $spacing;

  @include breakpoint($narrow) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-2x;
  }

  @include breakpoint($wide) {
    padding: $spacing-3x;
  }

  h2 {
    color: $color-gold;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;

    @include breakpoint($ultra) {
      font-size: 1.25rem;
    }
  }

  p {
    font-size: 1.125rem;

    @include breakpoint($wide) {
      font-size: 1.25rem;
    }

    @include breakpoint($ultra) {
      font-size: 1.5rem;
    }
  }
}

.prose-alt h2 {
  color: $color-navy;
}
