.stationery {
  padding: $spacing-2x;
  position: relative;

  @include breakpoint($medium) {
    box-shadow: 0 0 1px rgba(#000, 0.25);
    margin: -0.75em 0;
    padding: $spacing-3x;
    z-index: 1;
  }

  &::before,
  &::after {
    border: 1px solid $color-gold;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
  }

  &::before {
    bottom: 1.25rem;
    left: 1.25rem;
    right: 1.25rem;
    top: 1.25rem;

    @include breakpoint($medium) {
      bottom: 2rem;
      left: 2rem;
      right: 2rem;
      top: 2rem;
    }
  }

  &::after {
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    top: 1.5rem;

    @include breakpoint($medium) {
      bottom: 2.25rem;
      left: 2.25rem;
      right: 2.25rem;
      top: 2.25rem;
    }
  }

  .button-inverse {
    margin-right: 0.5rem;

    @include breakpoint($narrow) {
      padding-left: $spacing-2x;
      padding-right: $spacing-2x;
    }
  }

  @include breakpoint($medium 58rem) {
    .button {
      margin-right: 0;
      width: 100%;
    }
  }
}

.stationery-title {
  font-family: $font-cursive;
  font-size: 1.5rem;
  font-weight: $font-normal;
  margin: 1.125rem 0;

  @include breakpoint($wide) {
    font-size: 2.5rem;
    margin: 1.25rem 0;
  }
}
