.timer {
  background-color: $color-grey;
  background-color: rgba($color-grey, 0.7);
  display: table;
  margin: $spacing auto 0 auto;
  padding: $spacing;
  width: 100%;

  @include breakpoint($narrow) {
    margin: $spacing 0 0 0;
    width: auto;
  }

  @include breakpoint($medium) {
    margin-top: $spacing-2x;
  }

  span {
    display: table-cell;
    font-size: 0.625rem;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($narrow) {
      font-size: 0.875rem;
    }

    + span {
      padding-left: $spacing;

      @include breakpoint($narrow) {
        padding-left: $spacing;
      }

      @include breakpoint($medium) {
        padding-left: $spacing-2x;
      }
    }
  }

  b {
    display: block;
    font-size: 1.5rem;
    font-weight: $font-normal;
    line-height: 1;
    margin-bottom: 0.25rem;

    @include breakpoint($narrow) {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}
