.timer {
  display: table;
  margin: $spacing auto 0 auto;
  width: 100%;

  @include breakpoint($narrow) {
    display: flex;
    margin: $spacing 0 0 0;
    width: auto;
  }

  @include breakpoint($medium) {
    margin-top: $spacing-2x;
  }

  span {
    background-color: $color-grey;
    background-color: rgba($color-grey, 0.7);
    display: table-cell;
    font-size: 0.625rem;
    padding: $spacing;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint($narrow) {
      font-size: 0.875rem;
    }
  }

  b {
    display: block;
    font-size: 1.5rem;
    font-weight: $font-normal;
    line-height: 1;
    margin-bottom: 0.25rem;

    @include breakpoint($narrow) {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}
